---
# Only the main Sass file needs front matter (the dashes are enough)
---
// highlight
// .hljs{display:block;overflow-x:auto;padding:0.5em;background:#F0F0F0}.hljs,.hljs-subst{color:#444}.hljs-comment{color:#888888}.hljs-keyword,.hljs-attribute,.hljs-selector-tag,.hljs-meta-keyword,.hljs-doctag,.hljs-name{font-weight:bold}.hljs-type,.hljs-string,.hljs-number,.hljs-selector-id,.hljs-selector-class,.hljs-quote,.hljs-template-tag,.hljs-deletion{color:#880000}.hljs-title,.hljs-section{color:#880000;font-weight:bold}.hljs-regexp,.hljs-symbol,.hljs-variable,.hljs-template-variable,.hljs-link,.hljs-selector-attr,.hljs-selector-pseudo{color:#BC6060}.hljs-literal{color:#78A960}.hljs-built_in,.hljs-bullet,.hljs-code,.hljs-addition{color:#397300}.hljs-meta{color:#1f7199}.hljs-meta-string{color:#4d99bf}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}
/*
XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.9em;
  background: #fff;
  color: black;
  border-left: 3px solid #ccc;
  margin: 1.7em 0;
}

.hljs-comment,
.hljs-quote {
  color: #006a00;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #aa0d91;
}

.hljs-name {
  color: #008;
}

.hljs-variable,
.hljs-template-variable {
  color: #660;
}

.hljs-string {
  color: #c41a16;
}

.hljs-regexp,
.hljs-link {
  color: #080;
}

.hljs-title,
.hljs-tag,
.hljs-symbol,
.hljs-bullet,
.hljs-number,
.hljs-meta {
  color: #1c00cf;
}

.hljs-section,
.hljs-class .hljs-title,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #5c2699;
}

.hljs-attribute,
.hljs-subst {
  color: #000;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */


kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

// import fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800);

// Variaveis cores
$clText: #383838;
$clTitle: #424242;
$clDetail: #999;
$clLink: #66cdaa;
$fontDefault: 'Droid Serif', serif;
$fontTitle : 'Open Sans', sans-serif;
$bgDefault : #fff;

// placeholders 
%transicao-3s {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

// mixins
@mixin dimensao($w, $h) {
	width: $w;
	height: $h;
}

// animations

@-webkit-keyframes menuToggle {
	from {
		opacity: 0;
		transform: translateY(-10%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@-moz-keyframes menuToggle {
	from {
		opacity: 0;
		transform: translateY(-10%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes menuToggle {
	from {
		opacity: 0;
		transform: translateY(-10%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// site
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

a {
	@extend %transicao-3s;
}

::selection {
  background: $clLink;
  color: #fff;
}
::-moz-selection {
  background: $clLink;
  color: #fff;
}
.container {
	width: 100%;
	margin: 0 auto;
}

.separator {
	display: block;
	text-align: center;
	width: 70%;
	margin: 50px auto;
	border-bottom: 1px solid #ebebeb;
}

// IDS
#header {
	clear: both;
	float: left;
}
#posts {
	width: 100%;
	height: auto;
	padding: 10px;
}

#about {
	padding: 10px;
}

.block {
	&__header {
		display: block;
		@include dimensao(100%, 100px);

		& > .container {
			height: inherit;	
			border-bottom: 1px solid #ebebeb;
		}
	}

	&__header--logo {
		margin-top: 1em;
		text-align: center;
		display: block;

		& > a {
			@extend %transicao-3s;
			font-size: 2em;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: bold;
			color: $clText;
			text-decoration: none;

			&:hover {
				color: #999;
			}	
		}
	}

	&__header--btn-menu {
		float: right;
		position: relative;
		right: 15px;
		top: 20px;
		cursor: pointer;

		& span {
			display: block;
			width: 30px;
			height: 4px;
			position: relative;
			margin: 4px;
			left: 5px;
			top: 2px;
			background: #000;
		}
	}

	&__header--about {
		float: left;
		padding: 10px;
		clear: both;
		width: 100%;
		position: relative;
		top: 30px;
		text-align: justify;
		font-size: 1.2em;
		font-family: $fontDefault;
		color: $clText;
	}
	
	// Menu
	&__menu {
		@include dimensao(100%, 100%);
		@extend %transicao-3s;
		position: fixed;
		float: left;
		background: #66cca9;
		z-index: -9999;
		opacity: 0;
		transform: translateY(-15%);

		&.active {
			z-index: 9999;

			-webkit-animation: menuToggle .3s ease-out;
			-moz-animation: menuToggle .3s ease-out;
			-o-animation: menuToggle .3s ease-out;
			animation: menuToggle .3s ease-out;

			opacity: 1;
			transform: translateY(0);
		}
		&.inactive {
			z-index: -9999;

			-webkit-animation: menuToggle .3s ease-out reverse;
			-moz-animation: menuToggle .3s ease-out reverse;
			-o-animation: menuToggle .3s ease-out reverse;
			animation: menuToggle .3s ease-out reverse;

			opacity: 0;
			transform: translateY(-15%);
		}
		
		&--close {
			float: right;
			margin-right: 1em;
			margin-top: -3.125em;
			cursor: pointer;
		}

		& .menu {
			padding: 0;
			list-style: none;
			margin-top: 70px;
			
			&.inactive {
				display: none;
			}

			&--li {
				display: block;
				text-align: center;
				margin: 20px;
			}

			&--a {
				@extend %transicao-3s;
				text-decoration: none;
				display: block;
				color: #fff;
				font-family: $fontDefault;
				font-size: 2em;
				line-height: 2em;
				border-bottom: 1px solid #eee;

				&:hover {
					color: #000; 
				}
			}
		}

		// & .search {
		// 	width: 100%;
		// 	float: left;
		// 	clear: both;
		// 	margin-top: 70px;

		// 	&--form {
		// 		width: 90%;
		// 		margin: 0 auto;
		// 	}

		// 	&__block {
		// 		position: relative;
		// 		padding: 10px 0;
		// 		width: 100%;
		// 		background: transparent;
		// 		border: 0;
		// 		border-bottom: 1px solid #fff;
		// 	}

		// 	&--input {
		// 		width: 90%;
		// 		left: 0;
		// 		margin: 0 auto;
		// 		background: transparent;
		// 		outline: none;
		// 		border: 0;
		// 		font-size: 1.2em;
		// 		color: #fff;
		// 	}
		// 	&--btn {
		// 		width: 24px;
		// 		right: 0;
		// 		border: 0;
		// 		padding: 0;
		// 		background: transparent;

		// 		& > svg {
		// 			position: absolute;
		// 			top: 15px;
		// 		}
		// 	}
		// }
	}
	
	// share
	&__share {
		width: 100%;
		clear: both;
		margin: 40px 0;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 40px;

		&--title {
			color: $clTitle;
			text-align: center;
			display: block;
		}

		&--list {
			list-style: none;
			padding: 0;
			margin-top: 20px;
			text-align: center;
		}

		&--list  li {
			display: inline-block;
			margin: 0 10px;

			&  g {
				@extend %transicao-3s;
				fill: $clTitle;
			}
			& svg:hover g {
				fill: $clLink;
			}
		}
	}
	
	&__comments {
		width: 100%;
		height: auto;
		clear: both;
		padding: 0 10px 40px 10px;

		&--title {
			color: $clTitle;
		}

		&--disqus {
			width: 100%;
			display: block;
			margin-top: 20px;
		}
	}
	// footer
	&__footer {
		position: relative;
		width: 100%;
		clear: both;
		text-align: center;
		display: block;
		height: 140px;

		& > .container {
			border-top: 1px solid #ebebeb;
		}

		&--author {
			line-height: 1.5em;
			margin-top: 20px;
			display: block;
			& > strong {
				color: $clTitle;
			}
			& > a {
				color: #000;

				&:hover {
					color: $clLink;	
				}
			}
		}

		&--text {
			margin-top: 15px;
			display:block;
			color: $clText;

			&-heart {
				position: absolute;
				color: #ff0000;
			}
			&-after {
				margin-left: 21px;
			}
		}
	}
}

// content
.content {
	width: 100%;
	height: auto;
	clear: both;
}
// card posts
.card {
	&__content {
		@include dimensao(100%, auto);
		position: relative;
		
		border-bottom: 1px solid #f0f0f0;
		padding-bottom: 40px;
		padding-top: 25px;
		
		&:last-child {
			border-bottom: 0;
		}

		&--date {
			color: $clDetail;
			font-style: italic;
			font-size: 0.9em;
			font-family: $fontDefault;

			&-post {
				line-height: 50px;
			}
		}
		
		&--title-link {
			text-decoration: none;
			color: $clTitle;
			@extend %transicao-3s;

			&:hover {
				color: $clLink;
			}
		}
		&--title-text {
			font-size: 2em;
			font-family: $fontTitle;
			margin: 0 0 10px 0;
			font-weight: bold;
			&-content {
				color: $clTitle;
			}
		}
		&--text {
			color: $clText;
			font-family: $fontDefault;
			line-height: 1.5em;
			font-size: 1.2em;
			
			&-content {
				margin-top: 30px;

				& h1, h2, h3, h4, h5 {
					font-family: $fontTitle;
					margin: 40px 0 10px 0;
				}

				& h3 {
					font-size: 1.3em;
				}

				& a {
					color: #000;
					&:hover {
						color: $clLink;
					}
				}

				& img {
					width: 100%;
					height: auto;
					display: block;
				}

				& p {
					line-height: 1.8em;
					margin: 1em 0;
				}
			}

			&.about {
				margin-top: 0px;
				line-height: 1.4em;
			}
		}

		&--list-skills {
			list-style: square;
			display: block;
			margin-top: 30px;

			& li {
				margin: 10px 0 10px 15px ;
			}
		}
		
		// tutorial
		&--list-tutorial {
			float: left;
			width: 100%;
			height: auto;
			list-style: none;
			padding: 0;
			margin-bottom: 60px;
			margin-top: -25px;

			& li {
				width: 100%;
				float: left;
				display: block;

				& a {
					display: block;
					padding: 10px 0;
					
				}
				& .tutorial--date {
					width: 25%;
					float: right;
					text-align: right;
					color: #ababab;
					display: none;
				}
			}
		}

		// contact
		&--contact {
			margin-top: 20px;
			line-height: 1.3em;

			& > h4 {
				margin: 0;
			}

			& .a-social {
				line-height: 2em;
			}

		}
	}
}

.menu-nav {
	display: block;
	margin-top: 1em;
	text-align: center;

	& ul {
		list-style: none;
		padding: 0;
		/*margin-top: 2.5em;*/
	}

	& li {
		display: inline-block;
		margin: 0 0.625em;

		& a {
			display: block;
			color: $clText;
			text-decoration: none;
			text-transform: uppercase;
			
			@extend %transicao-3s;

			&:hover {
				color: $clLink;
			}
		}
	}

}

.contato-lista {
	list-style: none;
	padding: 0;

	& li {
		margin: 0.2em 0;
	}
	
}
@media (min-width: 36.25em) { //580px
	.card__content--list-tutorial li .tutorial--date {
		display: block;
	}
}

@media (min-width: 50em) { // 800px
	.container {
		width: 800px;
	}
	
	.content {
		top: 50px;
	}

	#about {
		padding: 0;
	}

	.block {
		
		&__header {
			height: 100px;

			& > .container {
				height: 100px;
			}
		}

		&__header--logo {
			position: relative;
			left: 0;
			top: 30px;
			float: left;
			text-align: left;
			margin-top: 0;
		}

		&__header--btn-menu {
			right: 0;
			top: 30px;
		}

		&__menu {

			& .menu {
				&--a {
					margin: 20px 0;
				}
			}
			
			&--close {
				margin-right: 0;
				margin-top: -2.5em;
			}

			// & .search {
			// 	margin-top: 130px;

			// 	&--form {
			// 		width: 100%;
			// 	}

			// 	&--input {
			// 		width: 95%;
			// 		font-size: 1.5em;
			// 	}
			// }
		}
		
		&__comments {
			padding: 0 0 40px 0;
		}


		&__footer {
			height: 80px;
			&--author {
				float: left;
				margin-top: 15px;
				line-height: 1.2em;
				text-align: left;

				& > a {
					font-size: 0.9em;
				}
			}

			&--text {
				margin-top: 20px;
			}
		}
	}
	
	#posts {
		padding: 0;
	}

	.card {

		&__content {

			&:last-child {
				margin-bottom: 4.375em;
			}

			&:first-child {
				margin-top: 100px;
			}

			&--title-text {
				font-size: 2.3em;
			}

			&--text {
				font-size: 1.2em;
			}

			&--contact {
				& .a-social {
					line-height: 1.5em;
				}
			}

		}
	}

	.menu-nav {
		float: right;
		margin-top: 2.5em;
	}
}