<header id="header" class="block__header"> <!-- header -->
    <div class="container">
      <span class="block__header--logo"><a href="{{ site.baseurl }}/">Guilherme Modugno</a></span>
      <!-- <nav class="block__header--btn-menu">
        <span></span>
        <span></span>
        <span></span>
      </nav> -->
      <nav class="menu-nav">
      	<ul>
      		<li><a href="{{ site.baseurl }}/sobre">Sobre</a></li>
      		<!-- <li><a href="{{ site.baseurl }}/projetos">Projetos</a></li> -->
      		<li><a href="{{ site.baseurl }}/artigos">Artigos</a></li>
      	</ul>
      </nav>
    </div>
  </header> <!-- end header -->