<section id="about"> <!-- post -->
	<article class="card__content">
		<h1 class="card__content--title-text card__content--title-text-content">
			Sobre
		</h1>
		<article class="card__content--text card__content--text-content about">
			<p>
				Meu nome é Guilherme Modugno, moro em Mogi das Cruzes - SP e sou Desenvolvedor FullStack. Eu tenho trabalhado na web profissionalmente desde 2012, mas minha paixão por códigos vem desde 2007, quando criava scripts para o Orkut (quem nunca?).
			</p>

			<p>
				Este blog é um lugar onde eu posso explorar e compartilhar minhas ideias. Aqui irei escrever sobre minhas experiencias novas, sobre novidades de Back-end e Front-End, meu maior foco até o momento, sera PHP, Laravel, e alguas bibliotecas Javascript que utilizo no dia-dia.
			</p>

			<p>
				Se você tiver sugestão de novos posts sobre algo que queira aprender, me avise, e talvez ele vai se transformar em meu próximo artigo.
			</p>
			
			<!-- contato info -->
			<h3>Contatos</h3>
			<ul class="contato-lista">
				<li><a href="mailto:g.modugno@hotmail.com">g.modugno@hotmail.com</a></li>
				<li><a href="https://br.linkedin.com/in/guilherme-modugno-6b7880a7" target="_blank">Linkedin</a></li>
				<li><a href="https://github.com/modugno" target="_blank">Github</a></li>
			</ul>

		</article><!-- content post -->
	</article><!-- content block -->

</section> <!-- end post -->
